.icons {
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-effect: innershadow(three-pass-box, derive(-icons-color, -70%), 0.1em, 0.0, 0.07em, 0.07em);
    -fx-text-fill: linear-gradient(to bottom, derive(-icons-color, 20%) 10%, derive(-icons-color, -40%) 80%);
}

.icons:hover {
    -fx-effect: dropshadow(three-pass-box, derive(-icons-color, 0%), 0.01em, 0.0, 0, 0);
}

.toggle-button:selected .icons {
    -fx-effect: dropshadow(three-pass-box, derive(-icons-color, 0%), 0.01em, 0.0, 0, 0);
    -fx-text-fill: linear-gradient(to bottom, derive(-icons-color, 60%) 10%, derive(-icons-color, 95%) 80%);
}
