.logo {
  font-size: 8em;
  font-family: sans-serif;
  font-weight: 700;
  background: linear-gradient(to top, cyan, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-fx {
  font-size: 10em;
  -webkit-filter: drop-shadow(0.06em 0.08em 0.1em dodgerblue);
          filter: drop-shadow(0.06em 0.08em 0.1em dodgerblue);
}

#logo {
  animation-duration: 3.5s;
  animation-name: slideleft;
}

@keyframes slideleft {
  from {
    margin-left: 8em;
  }

  to {
    margin-top: 1em;
  }
}

.logos {
    max-width: 600px;
    min-width: 600px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

.download-button {
    display: block;
    max-width: 10em;
    min-width: 10em;
    margin: auto;
    cursor: pointer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 2px 2px 2px darkgreen;
    border-radius: 10px;
    background-color: rgba(0, 200, 0, 1);
    color: lightgreen;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.download-button:hover {
    background-color: rgba(0, 200, 0, .8);
}

.logos-wrapper {
    margin-left: 20px;
}

.svg-logo {
    fill: gray;
    transition: fill 1s linear;
}

.svg-logo.selected-logo {
    fill: white;
    transition: fill 1s linear;
}

.big-area {
    height: 26em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.big-area > div {
    text-align: center;
}

.big-area a {
    color: #ccc;
}

.big-area svg {
    margin-top: 1em;
    fill: #ccc;
}

.documentation {
    background-color: dodgerblue;
}

.contact-me {
    background-color: lightcoral;
}

.license {
    background-color: green;
}