.logo {
  font-size: 8em;
  font-family: sans-serif;
  font-weight: 700;
  background: linear-gradient(to top, cyan, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-fx {
  font-size: 10em;
  -webkit-filter: drop-shadow(0.06em 0.08em 0.1em dodgerblue);
          filter: drop-shadow(0.06em 0.08em 0.1em dodgerblue);
}

#logo {
  animation-duration: 3.5s;
  animation-name: slideleft;
}

@keyframes slideleft {
  from {
    margin-left: 8em;
  }

  to {
    margin-top: 1em;
  }
}

.logos {
    max-width: 600px;
    min-width: 600px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

.logos-wrapper {
    margin-left: 20px;
}

.svg-logo {
    fill: gray;
    transition: fill 1s linear;
}

.svg-logo.selected-logo {
    fill: white;
    transition: fill 1s linear;
}

.big-area {
    height: 26em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.big-area > div {
    text-align: center;
}

.big-area a {
    color: #ccc;
}

.big-area svg {
    margin-top: 1em;
    fill: #ccc;
}

.documentation {
    background-color: dodgerblue;
}

.contact-me {
    background-color: lightcoral;
}