{{ define title "LogFX" }}
{{ define include_logo true }}
{{ include fragments/_header.html }}

<header>
    <div id="logo">
        <span class="logo">Log</span><span class="logo logo-fx">FX</span>
    </div>
    <div class="sub-title">
        A beautiful log viewer capable of handling very large files.
    </div>
</header>
<main>
    <p>LogFX is a multi-platform, free and open-source log viewer designed to handle very large files without a performance hit.</p>
    <form method="get" action="https://github.com/renatoathaydes/LogFX/releases/latest">
        <button type="submit" id="download-button" class="download-button">Get LogFX</button>
    </form>
    <div id="logos" class="logos">
        <div class="logos-wrapper">
        {{ include /static/svg/_linux.svg }}
        {{ include /static/svg/_apple.svg }}
        {{ include /static/svg/_microsoft.svg }}
        </div>
    </div>
    {{ component /processed/components/_slides.html }}
        {{ define onTransition "onSlideChange" }}
        {{ slot header }}
        <script>
            function onSlideChange(index) {
                document.querySelectorAll('.svg-logo').forEach(function (el, el_index) {
                    if (index === el_index) {
                        el.classList.add('selected-logo');
                    } else {
                        el.classList.remove('selected-logo');
                    }
                });
             }
        </script>
        {{ end }}
        {{ slot slide1 }}
        <img src="https://raw.githubusercontent.com/renatoathaydes/LogFX/next/docs/images/screenshots/logfx-1.0rc2-linux.png"
             alt="LogFX 1.0 running on Linux Plasma KDE" class="slide">
        {{ end }}
        {{ slot slide2 }}
        <img src="https://raw.githubusercontent.com/renatoathaydes/LogFX/next/docs/images/screenshots/logfx-1.0-rc3-mac.png"
             alt="LogFX 1.0 running on MacOS" class="slide">
        {{ end }}
        {{ slot slide3 }}
        <img src="https://raw.githubusercontent.com/renatoathaydes/LogFX/next/docs/images/screenshots/logfx1.0-rc3-windows-.png"
             alt="LogFX 1.0 running on Windows 10" class="slide">
        {{ end }}
    {{ end }}
    <div>
    <p>LogFX is quite lightweight <sup><a href="#note-1">1</a></sup>, yet has many useful features:</p>

    <ul class="log">
        <li><span>extremely fast to open and navigate large files.</span></li>
        <li><span>tail file(s) with option to pause updates at any time.</span></li>
        <li><span>go to date-time in any log file (or all opened files).</span></li>
        <li><span>highlight text using regular expressions rules.</span></li>
        <li><span>group highlight expression for different types of logs.</span></li>
        <li><span>filter content based on highlight expressions.</span></li>
        <li><span>highly customizable look via JavaFX CSS (refreshes instantly).</span></li>
        <li><span>keyboard friendly (shortcuts for everything).</span></li>
        <li><span>organize groups of files and highlight rules into Projects.</span></li>
    </ul>
    <div>
    <small id="note-1" class="footnotes">
        <div>[1] LogFX is an approximately 35MB download, including the JavaFX runtime, or a tiny 270KB jar
            if you already have an appropriate JVM!</div>
        <div>It can run with as little as 25MB of RAM (edit the launcher script, <code>bin/logfx</code>
            by adding <code>-Xmx25m</code> to the <code>VM_OPTIONS</code> environment variable if you want to restrict LogFX memory!).
        </div>
    </small>
    </div>
    </div>
    <div class="big-area documentation">
        <a href="{{eval baseURL }}/docs/index.html"><div>Documentation</div></a>
        <a href="{{eval baseURL }}/docs/index.html">{{ include /static/svg/_book.svg }}</a>
    </div>
    <div class="big-area contact-me">
        <a href="{{eval baseURL }}/contact.html"><div>Get in touch</div></a>
        <a href="{{eval baseURL }}/contact.html">{{ include /static/svg/_comments-smiley.svg }}</a>
    </div>
    <div class="big-area license">
        <a href="https://github.com/renatoathaydes/LogFX/blob/master/LICENSE"><div>Fully Open Source (GPL-3.0 License)</div></a>
        <a href="https://github.com/renatoathaydes/LogFX/blob/master/LICENSE">{{ include /static/svg/_tag.svg }}</a>
    </div>
</main>
{{ include fragments/_footer.html }}