{{ define title "LogFX" }}
{{ define include_logo true }}
{{ include fragments/_header.html }}

<header>
    <div id="logo">
        <span class="logo">Log</span><span class="logo logo-fx">FX</span>
    </div>
    <div class="sub-title">
        A beautiful log viewer capable of reading large files.
    </div>
</header>
<section>
    <p>LogFX is a multi-platform log viewer designed to handle very large files.</p>
    <div id="logos" class="logos">
        <div class="logos-wrapper">
        {{ include /static/svg/_linux.svg }}
        {{ include /static/svg/_apple.svg }}
        {{ include /static/svg/_microsoft.svg }}
        </div>
    </div>
    {{ component /processed/components/_slides.html }}
        {{ define onTransition "onSlideChange" }}
        {{ slot header }}
        <script>
            function onSlideChange(index) {
                document.querySelectorAll('.svg-logo').forEach(function (el, el_index) {
                    if (index === el_index) {
                        el.classList.add('selected-logo');
                    } else {
                        el.classList.remove('selected-logo');
                    }
                });
             }
        </script>
        {{ end }}
        {{ slot slide1 }}
        <img src="https://raw.githubusercontent.com/renatoathaydes/LogFX/next/docs/images/screenshots/logfx-1.0rc2-linux.png"
             alt="LogFX 1.0 running on Linux Plasma KDE" class="slide">
        {{ end }}
        {{ slot slide2 }}
        <img src="https://raw.githubusercontent.com/renatoathaydes/LogFX/next/docs/images/screenshots/logfx-1.0-rc3-mac.png"
             alt="LogFX 1.0 running on MacOS" class="slide">
        {{ end }}
        {{ slot slide3 }}
        <img src="https://raw.githubusercontent.com/renatoathaydes/LogFX/next/docs/images/screenshots/logfx1.0-rc3-windows-.png"
             alt="LogFX 1.0 running on Windows 10" class="slide">
        {{ end }}
    {{ end }}

    <p>LogFX is extremely lightweight but still has a lot of features:</p>

    <ul>
        <li><span>extremely fast to open and navigate large files.</span></li>
        <li><span>tail file(s) with option to pause at any time.</span></li>
        <li><span>go to date-time in any log file (or all opened files).</span></li>
        <li><span>highlight text using regular expressions rules.</span></li>
        <li><span>group highlight expression for different types of logs.</span></li>
        <li><span>filter content based on highlight expressions.</span></li>
        <li><span>highly customizable look via JavaFX CSS (refreshes instantly).</span></li>
        <li><span>keyboard friendly (shortcuts for everything).</span></li>
    </ul>
</section>
<nav>
    <div style="margin-top: 8em;">
        <a class="big-link" href="{{ eval baseURL }}/about.html">About</a>
    </div>
</nav>
<script>

</script>
{{ include fragments/_footer.html }}