.icons {
    -fx-font-family: Themify;
    -fx-text-fill: -icons-color;
    -fx-min-width: 14px;
}

.icons:hover {
    -fx-text-fill: derive(-icons-color, 20%);
}

.toggle-button:selected .icons {
    -fx-text-fill: derive(-icons-color, 80%);
}
