</div>
<footer class="footer">
    <div>
        <small>
            LogFX is a project by <a href="https://github.com/renatoathaydes">Renato Athaydes</a>
        </small>
    </div>
    <div>
        <small>Source code on <a href="https://github.com/renatoathaydes/LogFX">GitHub</a></small>
        <span style="position: relative; top: 4px; left: 2px;">{{ include /static/svg/_github.svg }}</span>
    </div>
    <div style="margin-top: -30px">
        <small>All icons provided by </small>
        <span style="position: relative; top: 23px; left: 2px;"><a href="https://themify.me/">{{ include /static/svg/_themify-logo.svg}}</a></span>
    </div>
</footer>
</body>
</html>