.root {
    -fx-base: green;

    -icons-color: -fx-base;
    -fx-focus-color: lightgreen;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0 0 0 1;
}

.text-input.error {
    -fx-border-color: palevioletred;
}

.large-background-text {
    -fx-font-size: 24px;
    -fx-stroke: darkgray;
    -fx-fill: darkgray;
}

.selected-pane {
    -fx-border-width: 1, 1;
    -fx-border-color: -fx-focus-color, -fx-faint-focus-color;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
    -fx-border-radius: 2, 1;
}

.log-line {
    -fx-padding: 0, 5, 0, 5;
}

.log-line.selected {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: derive(-fx-focus-color, -80%);
}

LogView.dropping-files {
    -fx-border-color: lawngreen;
}

.shadow-overlay {
    -fx-opacity: 0.5;
    -fx-background-color: -fx-base;
}

.shadow-overlay.highlight {
    -fx-stroke: red 1px;
}